
  
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">User Registration</span>
          <div class="row">
            <form class="col s12" novalidate #userformValidate="ngForm" (ngSubmit)="userFormSubmit()">
              <div class="row">
                <div class="input-field col s6">
                  <input id="first_name" type="text" #firstName="ngModel" autocomplete="off" [(ngModel)]="userModel.FirstName" name="FirstName" required class="validate">
                  <label data-error="Required!">First Name </label>
                </div>
                <div class="input-field col s6">
                  <input id="last_name" type="text" #LastName="ngModel" autocomplete="off"  name="LastName" [(ngModel)]="userModel.LastName" required class="validate">
                  <label data-error="Required!">Last Name </label>
                </div>
              </div>
  
              <div class="row">
                <div class="input-field col s6">
                  <input id="username" type="text" #UserName="ngModel" autocomplete="off" name="UserName" [(ngModel)]="userModel.UserName" required class="validate">
                  <label data-error="Required!">User Name </label>
                </div>
                <div class="input-field col s6">
                  <input id="password" type="password" required minlength="8" maxlength="20" #Password="ngModel" name="Password" autocomplete="off"  [(ngModel)]="userModel.Password"
                    class="validate">
                    <label data-error="Password requied">Password </label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="email" #Email="ngModel"  autocomplete="off"  name="Email" [(ngModel)]="userModel.Email" required class="validate">
                  <label data-error="Invalid email">Email </label>
                </div>
              </div>
              <div class="row">
                <button class="waves-effect waves-light btn"  type="submit">Submit</button>
              </div>
  
              <pre>{{ userformValidate.value | json}}</pre>
            </form>
          </div>
        </div>
        <div class="card-action">
          <a href="#">Registration</a>
          <a href="#">Login</a>
        </div>
  
  
  
      </div>
   